/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffe3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Para evitar que la imagen se desborde al hacer zoom */
}

.service-item:hover {
    transform: scale(1.1); /* Escala el elemento al 110% del tamaño original al pasar el cursor */
}

.service-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    color: #666;
}

/* Estilos para el navbar */
.nav-back {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-back a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-back a svg {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    margin-right: 5px;
}
